:root {
  --gray-200: #eaecf0;
  --gray-25: #fcfcfd;
  --gray-300: #d0d5dd;
  --gray-50: #f9fafb;
  --gray-500: #667085;
  --gray-700: #344054;
  --gray-900: #101828;
  --white: #ffffff;
  --leftTopText: #315efb;
  --backgroundblue: #0d6efd;
  --backgroundred: #d92d20;
  --moreinfocol: #f0f3ff;
}
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@400;700&family=Prompt:wght@200;400&display=swap');

* {
  font-family: 'Prompt', sans-serif !important;
}

.customcontainer1 {
  width: 95%;
  background: transparent;
  height: 70vh;
  border-radius: 30px;
  border: 1px solid #eaecf0;
  background: white;
  margin-left: auto;
  margin-right: auto;
}

.body {
  background: #f9fafb;
}

.ml-1 {
  margin-left: 4%;
}

.p-datatable {
  border: 1px solid #eaecf0;
  width: 95%;

  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  border-radius: 30px;
}

.p-datatable-header {
  background-color: white !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.p-datatable .p-paginator-bottom {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
.p-paginator {
  display: flex;
  justify-content: space-between !important;
}

.p-paginator-left {
  flex: 1;
  text-align: left;
}

.p-paginator-center {
  flex: 1;
  text-align: center;
}

.p-paginator-right {
  flex: 1;
  text-align: right;
}

.buttonpic {
  all: unset;
}
.buttonpicblue {
  all: unset;
  color: var(--leftTopText);
  font-size: large;
}

.nav-link {
  border-radius: 10px !important;
  width: 85% !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.wblue-button {
  all: unset;
  border-radius: 50rem;
  border: 1px solid #ced4da;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  background-color: #ffffff;
}
.wblue-button:hover {
  border-radius: 50rem;
  background-color: var(--backgroundblue);
  color: white;
}
.info-button {
  all: unset;
  border-radius: 50rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  background-color: var(--moreinfocol);
  color: var(--leftTopText);
}
.info-button:hover {
  border-radius: 50rem;
  background-color: var(--backgroundblue);
  color: white;
}
.wblue-button-unrounded {
  all: unset;
  border-radius: 0.5rem;
  border: 1px solid #ced4da;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.wblue-button-unrounded:hover {
  background-color: var(--backgroundblue);
  color: white;
}
.wblue-button-unrounded-nocenter {
  all: unset;
  border-radius: 0.5rem;
  border: 1px solid #ced4da;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.wblue-button-unrounded-nocenter:hover {
  background-color: var(--backgroundblue);
  color: white;
  box-shadow: 0px 5px 20px 0px rgba(49, 94, 251, 0.3);
}

.customcontainer4 .wblue-button-unrounded {
  margin-left: 20%;
  margin-right: auto;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.custom-input-search {
  border-radius: 50rem !important;
  padding-top: 2% !important;
  padding-bottom: 2% !important;
}

.wred-button {
  all: unset;
  border-radius: 8px;
  border: 1px solid #ced4da;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.wred-button:hover {
  background-color: var(--backgroundred);
  color: white;
}

.p-dialog-content {
  display: flex;
  flex-direction: column;
}

.customcontainer2 {
  width: 95%;
  background: transparent;
  height: auto;
  border-radius: 30px;
  border: 1px solid #eaecf0;
  background: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.customcontainer3 {
  width: 95%;
  background: transparent;
  height: auto;
  border-radius: 30px;
  border: 1px solid #eaecf0;
  background: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.customcontainer4 {
  width: 95%;
  background: transparent;
  height: auto;
  border-radius: 30px;
  border: 1px solid #eaecf0;
  background: white;
}
.user-role-card {
  background: var(--white);
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 25px;
  border: 1px solid var(--gray-200);
  display: flex;
  flex-direction: column;
}
.customcontainer5 {
  width: 95%;
  background: transparent;
  height: auto;
  border-radius: 30px;
  border: 1px solid #eaecf0;
  background: white;
  margin-top: auto;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
}
.customcontainer6 {
  width: 95%;
  background: transparent;
  height: auto;
  border-radius: 10px;
  border: 1px solid #eaecf0;
  background: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 2rem;
  padding-bottom: 1rem;
  vertical-align: middle;
}
.role-modal-container {
  border-radius: 30px;
  border: 1px solid white;
  background: var(--gray-50);
  text-align: center;
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
}
.mapcontainer {
  width: 99%;
  background: transparent;
  height: auto;
  border-radius: 30px;
  border: 1px solid #eaecf0;
  background: white;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
.piccontainer {
  border: 4px double #eaecf0;
  border-radius: 30px;
  height: 100%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minicontainer {
  border-radius: 30px;
  border: 1px solid #315efb80;
  background: white;
  text-align: left;
  width: 33%;
  padding-right: 1.5rem;
  font-size: 1rem;
}
.minicontainer:hover {
  background: var(--gray-200);
}

.minicontainer2 {
  /* width: 45%; */
  background: transparent;
  height: max-content;
  width: max-content;
  border-radius: 10px;
  border: 1px solid #eaecf0;
  background: white;
  /* margin-left: 5rem; */
  /* margin-top: 5%; */
  padding: 1rem 3rem;
  margin-bottom: 40px;
  margin-left: 2.5%;
  box-shadow: 0px 2px 20px 0px rgba(76, 78, 100, 0.1);
}

.cloud {
  background-color: #315efb0d;
}
.under-nav-container {
  margin-left: 2%;
  margin-right: 2%;
  height: 6rem;
  color: var(--gray-500);
  align-items: center;
  display: flex;
  font-size: smaller;
}
.mbg-white {
  border-radius: 30px;
  background: white;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.fee-topsection {
  border-bottom: 2px solid #e9ecef;
  padding-bottom: 3%;
}

.textwithbg {
  background: #315efb0d;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  text-align: right;
  border-radius: 10px;
}

.formstep .p-steps .p-steps-item .p-menuitem-link {
  background: unset;
}

.formstep
  .p-steps
  .p-steps-item
  .p-menuitem-link
  .p-steps-number:not(p.disabled) {
  color: #495057;
  border: 1px solid #e9ecef;
  min-width: 3.5rem;
  height: 3.5rem;
  line-height: 2rem;
  font-size: 1.143rem;
  z-index: 1;
  border-radius: 50%;
}

.formstep .p-steps .p-steps-item.p-highlight .p-steps-number {
  background: var(--leftTopText);
  color: #ffffff !important;
}

.break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.blacktext {
  color: var(--gray-900);
}
.formstep .p-steps .p-steps-item .p-menuitem-link:not(.p-disabled):focus {
  box-shadow: none;
}

.w-10 {
  width: 10%;
}
.w-12 {
  width: 12%;
}
.w-13 {
  width: 13%;
}

.w-15 {
  width: 15%;
}
.w-30 {
  width: 30%;
}
.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}
.w-65 {
  width: 65%;
}
.w-35 {
  width: 35%;
}

.h-20 {
  height: 20vh;
}

.h-25 {
  height: 25vh;
}

.h-30 {
  height: 30vh;
}

.h-40 {
  height: 40vh;
}

.h-60 {
  height: 60vh;
}

.h-full {
  height: 100vh;
}
.w-33 {
  width: 33%;
}
.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.ml-10 {
  margin-left: 10%;
}

.ml-5 {
  margin-left: 5%;
}
.mr-5 {
  margin-right: 5%;
}
.mr-10 {
  margin-right: 10%;
}
.h-49 {
  height: 49vh;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.67em;
}
h4 {
  font-size: 1.62em;
}
h5 {
  font-size: 1.33em;
}
h6 {
  font-size: 1.25em;
}
h7 {
  font-size: 1em;
}

.ml-12 {
  margin-left: 12%;
}
.ml-7 {
  margin-left: 7%;
}

.mr-auto {
  margin-left: auto;
}

.ml-auto {
  margin-right: auto;
}

.decoline {
  border-top: 2px solid #e9ecef;
}

.btn-outline-primary:hover {
  background: var(--backgroundred);
}
.buttoninsert {
  background: var(--backgroundblue);
  margin-left: 10px;
}
.columtable {
  font-size: 14 px;
  padding: 1rem 0.5rem;
}
.promotion_name {
  width: max-content;
  margin-bottom: 5%;
}
.promotion_percent {
  width: max-content;
  margin-bottom: 5%;
}
.h7 {
  position: absolute;
}
.w-20 {
  width: 30%;
  margin-left: 25%;
  margin-top: 2%;
  border: 1px solid #eaecf0;
}
.text-start {
  margin-left: 2%;
}
.p-dialog .p-dialog-content:last-of-type {
  /* border-bottom-right-radius: 6px; */
  /* border-bottom-left-radius: 6px; */
  border-radius: 25px;
}
.ptransaction {
  color: #667085;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
}
.ptransaction2 {
  margin-left: 10%;
}
.input {
  border-radius: 10px;
}
.inputcurren {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--cui-input-color, var(--cui-body-color));
  appearance: none;
  background-color: var(--cui-input-bg, var(--cui-body-bg));
  background-clip: padding-box;
  border: var(--cui-border-width) solid
    var(--cui-input-border-color, var(--cui-border-color));
  border-radius: var(--cui-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s;
}
.sidebar-nav .nav-link.active {
  color: var(--cui-sidebar-nav-link-active-color);
  background: var(--cui-sidebar-nav-link-active-bg);
  box-shadow: 0px 5px 20px 0px rgba(49, 94, 251, 0.3);
}
.name {
  padding-top: 2%;
  padding-right: 1rem !important;
}
.showname {
  color: #778899;
}
.showname2 {
  display: inline-block;
}
.calendar {
  color: #0d6efd;
}
.p-button:enabled {
  color: #ffffff;
  background: #0d6efd;
  border: 1px solid #0d6efd;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 6px;
}

.p-button:enabled:hover,
.p-button:not(button):not(a):not(.p-disabled):hover {
  background: #0d6efd;
  color: #ffffff;
  border-color: #0d6efd;
}
.setimg1 {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 9px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #ededff;
  border-radius: 8px;
  /* background: linear-gradient(0deg, #e5f8fe 0%, #e5f8fe 100%), #e5f8fe; */
}
.setimg2 {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 9px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #e5f8fe;
  border-radius: 8px;
  /* background: linear-gradient(0deg, #e5f8fe 0%, #e5f8fe 100%), #e5f8fe; */
}
.setimg3 {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 9px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #eefbe5;
  border-radius: 8px;
  /* background: linear-gradient(0deg, #e5f8fe 0%, #e5f8fe 100%), #e5f8fe; */
}
.set {
  display: inline-flex;
}
.setunit {
  /* margin-left: 16px; */
  margin-bottom: 0px;
}
.setunit2 {
  color: var(--Light-Text-Secondary, rgba(76, 78, 100, 0.68));
  font-feature-settings: 'clig' off, 'liga' off;
  /* margin-left: 55px; */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.4px;
  /* margin-top: -16px; */
}
.p-dialog {
  border-radius: 0px;
}
.w-2 {
  width: 2%;
}
.w-14 {
  width: 14.5%;
}
.w-6 {
  width: 6%;
}
.w-5 {
  width: 5%;
}

.TopRow {
  --cui-gutter-x: 1.5rem;
  --cui-gutter-y: 0;
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--cui-gutter-y));
  margin-right: calc(-0.5 * var(--cui-gutter-x));
  margin-left: calc(-0.5 * var(--cui-gutter-x));
}
.p-dropdown .p-dropdown-label {
  padding-left: 23%;
}
.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  height: fit-content;
  /* color: antiquewhite; */
}
.appaly {
  border-radius: 20px 0px 0px 20px;
  padding: 5px 11px;
}
.reset {
  border-radius: 20px 0px 0px 20px;
  padding: 5px 11px;
}
.dropdowngroup {
  margin-left: 2.5%;
}
.drownyear {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  width: 134px;
}
.drownyear2 {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  /* width: 134px; */
}
.selecteperson {
  border-radius: var(--cui-border-radius-pill) !important;
}
.cnav {
  width: 11%;
}
.nav-pills .nav-link {
  color: var(--cui-form-select-color, var(--cui-body-color));
}
.nav-pills .nav-link.active {
  background-color: #0d6efd;
}
.nav-pills {
  margin-left: 5%;
  margin-top: 2%;
}
.setform {
  width: 100%;
}
.w-16 {
  width: 16%;
}
.fix {
  width: auto;
  background-color: #101828;
}
.divpopup {
  justify-items: center;
}
