@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mitr:wght@200;300;400;500;600;700&display=swap");

.background {
  display: flex;
  min-height: 100vh;
  align-items: center;
  background-color: rgb(194, 255, 255);

  background-image: url("../../../assets/images/BackGround.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-body {
  flex: 1 1 auto;
  padding: 30px;
  color: var(--cui-card-color);
}

.Card {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}

.Loghead {
  padding-top: 50px;
  font-family: Kanit;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;

  display: inline-grid;
  justify-content: center;
  width: 100%;
}

.welcometext {
  font-family: Kanit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;

  padding-bottom: 20px;

  display: inline-grid;
  justify-content: center;
  width: 100%;
}

.textInput {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.158);
  background-color: rgba(255, 255, 255, 0);
  height: 50px;
  transition: background-color 0.3s ease;
}

.textInput:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

.px-4 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  width: 100%;
  height: 50px;

  background-color: #315efb;
  border: 0px;

  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
}

.px-4:hover {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  width: 100%;
  height: 50px;

  background-color: #274ccf;
  border: 0px;

  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
}

.px-4:active {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  width: 100%;
  height: 50px;

  background-color: #0c2ea7 !important;
  border: 0px;

  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
}

@media (min-width: 1440px) {
  .CardGroup {
    /* width: 40%; */
    width: 650px;
    border: 10px;
    border-radius: 50px;
  }
}
@media (max-width: 1440px) {
  .CardGroup {
    /* width: 40%; */
    width: 650px;
    border: 10px;
    border-radius: 50px;
  }
}
@media (max-width: 1200px) {
  .CardGroup {
    /* width: 50%; */
    width: 650px;
    border: 10px;
    border-radius: 50px;
  }
}
@media (max-width: 768px) {
  .CardGroup {
    /* width: 50%; */
    width: 650px;
    border: 10px;
    border-radius: 50px;
  }
}
@media (max-width: 480px) {
  .CardGroup {
    /* width: 50%; */
    width: 400px;
    border: 10px;
    border-radius: 50px;
  }
}
@media (max-width: 320px) {
  .CardGroup {
    /* width: 50%; */
    width: 400px;
    border: 10px;
    border-radius: 50px;
  }
}
